@page "/Clientes"

@inject ClientesAPI clientesAPI
<h3>Clientes</h3>
@if(clientes != null)
{
    <MudGrid>
        @foreach(var cliente in clientes)
        {
            <MudItem xs="3">
            <CardCliente Cliente="cliente"/>
            </MudItem>
        }
    </MudGrid>
}
@code {
    private ICollection<Clientes>? clientes;
    protected override async Task OnInitializedAsync()
    {
        clientes = await clientesAPI.GetClientesAsync();
    }
}
