@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido al Sistema de Gestión de Datos</h1>
<br>
<p>Solución personalizada para organizar y optimizar información crucial de su negocio.</p>
<p>Esta plataforma simplifica el proceso de recolección, almacenamiento y análisis de datos de clientes.</p>
<br>
<br>
<b>Hecho por Gabriel Rinco Pedroso para el challenge Intuit!</b>